<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>HTML5 playground</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize core CSS -->
        <link href="{{ url_for('static', filename='materialize/css/materialize.css') }}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav> 
            <div class="nav-wrapper"> 
                <a href="/" class="brand-logo center">HTML5 playground</a> 
            </div>
        </nav>

        <div class="row">
            <div class="col s12 m12">
            <div class="card blue-grey darken-4">
                <div class="card-content white-text">
                <span class="card-title">Mobile device recommended</span>
                <p>Most of API's used on this website use mobile sensors, that are not available in computers</p>
                </div>
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m12">
            <div class="card green darken-4">
                <div class="card-content white-text">
                <span class="card-title">Vibration</span>
                <p>Vibrate for 200 ms</p>
                </div>
                <div class="card-action">
                    <button class="btn btn-default" onclick="vibrate()">Vibrate for 200 ms</button>
                </div>
            </div>
            </div>
        </div>

        <div class="row">
                <div class="col s12 m12">
                <div class="card green darken-4">
                    <div class="card-content white-text">
                    <span class="card-title">Device orientation</span>
                    <p id="doTiltLR"></p>
                        <p id="doTiltFB"></p>
                        <p id="doDirection"></p>
                    </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                <div class="card green darken-4">
                    <div class="card-content white-text">
                    <span class="card-title">Battery level</span>
                    <p id="level"></p>
                    </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                <div class="card green darken-4">
                    <div class="card-content white-text">
                    <span class="card-title">Current location</span>
                    <p id="location"></p>
                    </div>
                    <div class="card-action">
                        <a id="askButton">Ask for location</a>
                      </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                <div class="card green darken-4">
                    <div class="card-content white-text">
                    <span class="card-title">Device memory</span>
                    <p id="memory"></p>
                    </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">Credits</span>
                    <p>Licensed under <a href="/license">MIT license</a></p>
                    </div>
                    <div class="card-action">
                        <a href="https://github.com/ivan770/html5">Github page</a>
                        <a href="https://github.com/ivan770/">ivan770</a>
                    </div>
                </div>
                </div>
            </div>

            <script>
                function vibrate(){
                    navigator.vibrate(200);
                }
                if ('DeviceOrientationEvent' in window) {
          window.addEventListener('deviceorientation', deviceOrientationHandler, false);
        } else {
          document.getElementById('logoContainer').innerText = 'Device Orientation API not supported.';
        }
        
        function deviceOrientationHandler (eventData) {
          var tiltLR = eventData.gamma;
          var tiltFB = eventData.beta;
          var dir = eventData.alpha;
          
          document.getElementById("doTiltLR").innerHTML = Math.round(tiltLR);
          document.getElementById("doTiltFB").innerHTML = Math.round(tiltFB);
          document.getElementById("doDirection").innerHTML = Math.round(dir);
        }
        if ('getBattery' in navigator || ('battery' in navigator && 'Promise' in window)) {
        var batteryPromise;
          
          if ('getBattery' in navigator) {
            batteryPromise = navigator.getBattery();
          } else {
            batteryPromise = Promise.resolve(navigator.battery);
          }
          
          batteryPromise.then(function (battery) {
            document.getElementById('level').innerHTML = battery.level * 100;
          });
        }
        
        if ('geolocation' in navigator) {
          document.getElementById('askButton').addEventListener('click', function () {
            navigator.geolocation.getCurrentPosition(function (location) {
              document.getElementById("location").innerHTML = location.coords.latitude + ', ' + location.coords.longitude
            });
          });
        } else {
          target.innerText = 'Geolocation API not supported.';
        }

        document.getElementById('memory').innerHTML = navigator.deviceMemory + 'GB' || 'unknown'
                </script>
            
        <!-- Materialize core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='materialize/js/materialize.js') }}"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>
